.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px;
  border: 1px solid #d0d7de;
  background-color: #fff;

  &:not(:first-of-type) {
    margin-top: 1px;
  }

  &:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 8px 8px;
  }
}

.contents {
  width: calc(100% - 40px - 20px);
}

.date {
  padding-left: 2px;
  color: #555555;
  font-size: 12px;
}

.title {
  margin-top: 10px;

  a {
    color: #4e6bb4;
    font-weight: 500;
    text-underline-offset: 2px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}

.menu {
  position: relative;
  width: 40px;
}

.menuButton {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 30px;
  border: 1px solid #d0d7de;
  border-radius: 8px;

  svg {
    width: 20px;
    color: #555;
  }

  &:hover {
    background-color: #f7fafd;
  }

  &.isOpen {
    background-color: #f7fafd;
  }
}

.menuList {
  position: absolute;
  z-index: 2;
  right: 0;
  top: calc(100% + 6px);
  width: 140px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ebeef2;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2px);

  &.isOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.menuItem {
  width: 100%;
  text-align: center;

  &:not(:first-of-type) {
    border-top: 1px solid #ebeef2;
  }

  a,
  button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}

.editButton {
  &:hover {
    background-color: #f7f7f7;
  }
}

.quickButton {
  color: #4e6bb4;

  &:hover {
    background-color: #f1f4f7;
  }
}

.deleteButton {
  color: #de6868;

  &:hover {
    background-color: #fff4f4;
  }
}
