@tailwind base;
@tailwind components;
@tailwind utilities;

/*============================
基本設定
============================*/
body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color: #fdfeff;
}

// 仮
.prompt {
  textarea {
    width: 100%;
    border: 1px solid #aaa;
  }

  button {
    padding: 5px;
    background-color: #ddd;
  }
}

.note-item {
  &:first-of-type {
    border-radius: 8px 8px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 8px 8px;
  }
}

.menu-ist {
  position: absolute;
  z-index: 2;
  right: 0;
  top: calc(100% + 6px);
  width: 140px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ebeef2;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2px);

  &.is--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
