.item {
  &:not(:first-child) {
    margin-top: 6px;
  }
}

.link {
  padding: 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  background-color: #fff;

  svg {
    width: 22px;
  }

  span {
    display: inline-block;
    font-size: 14px;
    margin-left: 9px;
    padding-bottom: 1px;
  }
}
