.footer {
  border-top: 1px solid #d0d7de;
  padding: 20px 0 19px;
}

.inner {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 14px;

  &:not(:first-of-type) {
    margin-left: 40px;
  }

  &:hover {
    text-decoration: underline;
  }
}
